.box {
  width: 25%;
  margin-top: 2%;
}
img {
  width: 100%;
}
#totalItem,
#totalPrice {
  font-weight: bold;
}
#nav {
  margin: auto;
  padding: 0.5%;
  display: flex;
  justify-content: space-around;
  background-color: rgb(43, 99, 203);
  border-radius: 0.5vw;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}
a {
  padding: 1vw;
  text-decoration: none;
  color: white;
  border-radius: 1vw;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
#payBox {
  height: 100%;
  text-align: center;
  margin-top: 2.3%;
  margin-right: 0.5%;
}
#pay {
  color: black;
  font-weight: bold;
}
#midBox {
  display: flex;
  margin-top: 3%;
  justify-content: space-between;
}
#promo {
  margin: auto;
}
